body {
    background: #f7f7ff;
    font-family: Arial, sans-serif;
}

.container {
    width: 600px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px #ccc;
}

textarea {
    width: 100%;
    height: 150px;
}

button {
    margin-top: 15px;
    padding: 12px;
    width: 100%;
    background: #2f65f7;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
}
